APP_ENV=production
APP_DEBUG=false
APP_URL=https://ads.britishmobiletyres.co.uk
APP_TIMEZONE=Europe/London
APP_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=bmt_crm
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=
GOOGLE_ADS_LOGIN_CUSTOMER_ID=

AUTOMATION_MODE=audit_only
MAX_DAILY_BUDGET_GBP=0
MAX_AUTO_BUDGET_CHANGE_PERCENT=10
MAX_AUTO_BID_CHANGE_PERCENT=10
MAJOR_CHANGE_APPROVAL_REQUIRED=true
